.element {
  border: 10px solid;
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  width: 140px;
}

.element div {
  height: 20px;
  width: 20px;
}


.player-one {
    background-color: red;
    border-radius: 10px;
  }

.player-two {
    background-color: blue;
    border-radius: 10px;
  }
